body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

h3 {
    text-align: center;

}


button {
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}


.pages {
    overflow: hidden;
    background-color: #333;
}

.pages a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.pages a:hover {
    background-color: #ddd;
    color: black;
}


.specs-input {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;    
    border-radius: 5px;
    flex-direction: row;
}

.common-input-styles select{
    width: calc(100% - 40px );
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.common-input-styles, .common-upload-styles {
    width: 45%;
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.input-file {
    display: flex;
}


.upload-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding: 10px 10px 20px 10px;
}


.upload-submit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding: 10px 20px;    
}

/* RESULTS */
.results-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

/* <div class="plot-container">
    <h2>PSD Plot :</h2>
    <img id="psd-plot" alt="PSD Plot">
</div>
<div class="plot-container">
    <h2>Raw Data Plot :</h2>
    <img id="raw-data-plot" alt="Raw Data Plot">
</div> */

.plot-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}

/* adjust the image size and height  */
.plot-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #333;
}

.metrics-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #333;
    overflow-x: auto;  /* Horizontal scroll */
    min-height: 0.01%;
}
.results-container {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
    .specs-input {
        flex-direction: column;
        
    }
   
    .common-input-styles {
        width: 90%;
        margin: 0 auto;
    }

    .common-upload-styles {
        width: fit-content;
        margin: 0 auto 10px;

    }
    
    

    .input-file {
        justify-content: center;

    }

}